

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Montserrat';

  button {
    display: none;
  }

  .service-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    margin-top: 0;

    img {
      object-fit: contain;
      height: 400px;
      width: 350px;
      border-radius: 10px;
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1rem;
      color: #555;
      font-family: 'Roboto';
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;

    .service-card {
      margin: 10px;
      padding: 10px;
      
    }
  }

  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
    font-size: 10px;

    .service-card {
      margin: 10px;
      padding: 10px;

      img {
        max-height: 200px;
        min-height: 150px;
      }

      h3 {
        font-size: 1.2rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}

.footer {
  max-height: 30vh;
}
