@import 'src/components/serviceCard/serviceCard.scss';

.first-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .titulo {
      text-align: center;
      color: white;
      font-size: 50px;
      font-weight: bold;
      font-family: Lato, sans-serif;
    }
    
    .subtitulo {
      max-width: 60%;
      margin-top: 10px;
      font-size: 35px;
      text-align: center;
      color: white;
      font-family: Lato, sans-serif;
    }
    
    .contacta {
        padding: 16px 32px;
        background-color: #ffc800;
        border: none;
        color: white;
        font-size: 24px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
  }
  
  @media screen and (max-width: 390) {
    .first-section {
      height: auto;
      background-position: center;
      background-size: cover;
    }

  }
 