.footer {
  background-color: #ffd800;
  padding: 2rem;
  align-items: center;
  align-content: center;

  .titulo-icons {
    display: flex;
    margin-bottom: 2.5rem;
    align-items: center;
    justify-content: center;
    

    .titulo {
      display: flex;
      padding-right: 120px;
      font-size: 40px;
      font-weight: bold;
      @media (max-width: 920px) {
        text-align: center;
        font-size: 25px;
        padding-right: 80px;
        padding-left: 15px;
      }
    }

    .icons {
      display: flex;
      
    }
    svg {
      font-size: 48px;
      margin-right: 1.5rem;
      @media (max-width: 920px) {
        text-align: center;
        font-size: 30px;

      }
    }
  }

  .contacto-legal {
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-items: center;

    .contacto {
      display: flex;
      padding-right: 120px;
      font-size: larger;
      @media (max-width: 920px) {
        padding-right: 0px;
      }
 
    }
    .legal {
      display: flex;
      font-size: larger;
    }
  }
}
