$logo-size: 100px;

body {
  margin: 0 auto;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a3891;

    .content {
      display: inline-block;
      margin: 15px;

      img {
        height: $logo-size;
        width: $logo-size;
      }
      @media (max-width: 920px) {
        display: flex;
        margin: 15px;
      }
    }

    .navbar {
      margin-right: 70px;
      font-size: 25px;
      cursor: pointer;

      ul {
        display: flex;
        align-items: center;
        list-style: none;

        li {
          margin-left: 1rem;

          &:first-child {
            margin-left: 0;
          }

          a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            padding: 0.5rem;

            &:hover {
              background-color: #0f225a;
              border-radius: 5px;
            }
          }

          .dropdown-menu {
            display: none;
            flex-direction: column;
            position: absolute;
            right: 0;
            padding-top: 40px;
            width: 96%;
            color: white;
            align-items: end;


            li {
              margin-top: 12px;

              &:first-child {
                margin-top: 0;
              }

              a {
                margin-right: 130px;
                color: white;
                text-align: center;
                

                &:hover {
                  background-color: #0f225a;
                }
              }
            }
          }

          &:hover .dropdown-menu {
            display: flex;
            z-index: 1;
          }
        }
      }
    }
  }
}
