$logo-size: 100px;

body {
  margin: 0 auto;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a3891;

    .content {
      display: inline-block;
      margin: 15px;

      img {
        height: $logo-size;
        width: $logo-size;
      }
      @media (max-width: 920px) {
        display: flex;
        margin: 15px;
      }
    }
  }
}
