body {
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a3891;

  .logo {
    text-align: left;
    flex-grow: 1;
    margin: 15px;
  }

}